<%= form_for(@club) do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <label>開催期間</label>
    <div class="form-inline form-group">
      <div class ='input-group date datepicker'>
        <%= f.text_field :start_time, :class => 'form-control' %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
      <span>〜</span>
      <div class ='input-group date datepicker'>
        <%= f.text_field :end_time, :class => 'form-control' %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :name, 'サークル展名' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field form-group">
    <%= f.label :group_id, '展示団体' %><br>
    <%= f.collection_select :group_id, Group.all, :id, :name %>
  </div>
  <div class="field form-group">
    <%= f.label :location_id, '展示場所' %><br>
    <%= f.collection_select :location_id, Location.all, :id, :name %>
  </div>
  <div class="field form-group">
    <%= f.label :introduction, '説明文' %><br>
    <%= f.text_area :introduction %>
  </div>
  <div class="field form-group">
    <%= f.label :keyword, '反応語句(改行区切り)' %><br>
    <%= f.text_area :keyword %>
  </div>
  <div class="actions">
    <%= f.submit "更新・登録", :class => "btn btn-default"%>
  </div>
<% end %>
