<p id="notice"><%= notice %></p>

<h1>サークル展示一覧</h1>

<%= link_to "トップ", root_path, :class => "btn btn-success pull-right" %>
<%= link_to "団体登録", groups_path, :class => "btn btn-success pull-right" %>
<%= link_to "場所登録", locations_path, :class => "btn btn-success pull-right" %>

<%= link_to '新しいサークル展示を登録', new_club_path, :class => "btn btn-success" %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>開催期間</th>
      <th>サークル展名</th>
      <th>展示団体</th>
      <th>展示場所</th>
      <th>説明文</th>
      <th>反応語句</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.start_time.to_s(:view) %><br>~<br><%= club.end_time.to_s(:view) %></td>
        <td><%= club.name %></td>
        <td><%= club.group.name %></td>
        <td><%= club.location.name %></td>
        <td><%= simple_format(club.introduction) %></td>
        <td><%= simple_format(club.keyword) %></td>
        <td><%= link_to '詳細', club, :class => "btn btn-primary btn-sm" %></td>
        <td><%= link_to '編集', edit_club_path(club), :class => "btn btn-success btn-sm" %></td>
        <td><%= link_to '削除', club, :class => "btn btn-danger btn-sm", method: :delete, data: { confirm: '本当にこのサークル展示を削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

