<p>
  <strong>開催期間:</strong>
  <%= @club.start_time.to_s(:view) %>~<%= @club.end_time.to_s(:view) %>
</p>

<p>
  <strong>サークル展名:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>展示団体:</strong>
  <%= @club.group.name %>
</p>

<p>
  <strong>展示場所:</strong>
  <%= @club.location.name %>
</p>

<p>
  <strong>説明文:</strong>
  <%= simple_format(@club.introduction) %>
</p>

<p>
  <strong>反応語句:</strong>
  <%= simple_format(@club.keyword) %>
</p>

<%= link_to '編集', edit_club_path(@club), :class => "btn btn-success" %>
<%= link_to '一覧に戻る', clubs_path, :class => "btn btn-default" %>
