<h1>Matsuri Admin</h1>

<div>
<%= link_to "企画", projects_path, :class => "btn btn-success" %>
<%= link_to "模擬店", shops_path, :class => "btn btn-success" %>
<%= link_to "サークル展示", clubs_path, :class => "btn btn-success" %>
<%= link_to "会話", chats_path, :class => "btn btn-success" %>
<%= link_to "スクールバス", bus_stops_path, :class => "btn btn-success" %>
<%= link_to "特殊", specifics_path, :class => "btn btn-success" %>
</div>
