<fieldset>
  <%= f.label :name, '出品物' %>
  <%= f.collection_select :good_id, Good.all, :id, :name %>
  <%= f.hidden_field :_destroy %>
  <%= link_to "削除", '#', class: "remove_fields btn btn-danger" %>
</fieldset>
