<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, '模擬店名' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :group_id, '出店団体' %><br>
    <%= f.collection_select :group_id, Group.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :booth, '出店場所' %><br>
    <%= f.number_field :booth %>
  </div>
  <div class="field">
    <%= f.label :exhibits, '出品物一覧' %>
    <%= f.fields_for :exhibits do |builder| %>
      <%= render "exhibit_fields", f: builder %>
    <% end %>
    <%= link_to_add_fields "追加", f, :exhibits %>
  </div>
  <div class="actions">
    <%= f.submit "更新・登録", :class => "btn btn-default" %>
  </div>
<% end %>
