<p id="notice"><%= notice %></p>

<h1>模擬店一覧</h1>

<%= link_to "トップ", root_path, :class => "btn btn-success pull-right" %>
<%= link_to "出店物登録", goods_path, :class => "btn btn-success pull-right" %>
<%= link_to "団体登録", groups_path, :class => "btn btn-success pull-right" %>

<%= link_to '新しい模擬店を登録', new_shop_path, :class => "btn btn-success" %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>模擬店名</th>
      <th>出店団体</th>
      <th>出店場所</th>
      <th>出品物</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.group.name %></td>
        <td><%= shop.booth %></td>
        <td>
          <% shop.goods.each do |good| %>
            <%= good.name %><br>
          <% end %>
        </td>
        <td><%= link_to '詳細', shop, :class => "btn btn-primary btn-sm" %></td>
        <td><%= link_to '編集', edit_shop_path(shop), :class => "btn btn-success btn-sm" %></td>
        <td><%= link_to '削除', shop, :class => "btn btn-danger btn-sm", method: :delete, data: { confirm: '本当にこの模擬店を削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

