<p>
  <strong>模擬店名:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>出店団体:</strong>
  <%= @shop.group.name %>
</p>

<p>
  <strong>出店場所:</strong>
  <%= @shop.booth %>
</p>

<p>
  <strong>出品物:</strong><br>
  <% @shop.goods.each do |good| %>
  <%= good.name %><br>
  <% end %>
</p>

<%= link_to '編集', edit_shop_path(@shop), :class => "btn btn-success" %>
<%= link_to '一覧に戻る', shops_path, :class => "btn btn-default" %>
