<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, '団体名' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :group_anothers, '別名登録' %><br>
    <%= f.fields_for :group_anothers do |builder| %>
      <%= render "group_another_fields", f: builder %>
    <% end %>
    <%= link_to_add_fields "追加", f, :group_anothers %>
  </div>
  <div class="actions">
    <%= f.submit "更新・登録", :class => "btn btn-default" %>
  </div>
<% end %>
