<p id="notice"><%= notice %></p>

<h1>団体一覧</h1>

<%= link_to "トップ", root_path, :class => "btn btn-success pull-right" %>
<%= link_to "模擬店登録", shops_path, :class => "btn btn-success pull-right" %>
<%= link_to "サ展登録", clubs_path, :class => "btn btn-success pull-right" %>

<%= link_to '新しい団体を登録する', new_group_path, :class => "btn btn-success" %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>団体名</th>
      <th>別名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td>
          <% group.group_anothers.each do |another| %>
            <%= another.name %><br>
          <% end %>
        </td>
        <td><%= link_to '詳細', group, :class => "btn btn-primary btn-sm" %></td>
        <td><%= link_to '編集', edit_group_path(group), :class => "btn btn-success btn-sm" %></td>
        <td><%= link_to '削除', group, :class => "btn btn-danger btn-sm", method: :delete, data: { confirm: '本当にこの団体を削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

