<p>
  <strong>団体名:</strong>
  <%= @group.name %><br>
</p>

<p>
  <strong>別名:</strong><br>
  <% @group.group_anothers.each do |another| %>
    <%= another.name %><br>
  <% end %>
</p>

<%= link_to '編集', edit_group_path(@group), :class => "btn btn-success" %>
<%= link_to '一覧に戻る', groups_path, :class => "btn btn-default" %>
