<p id="notice"><%= notice %></p>

<h1>会話一覧</h1>

<%= link_to "トップ", root_path, :class => "btn btn-success pull-right" %>

<%= link_to '新しい会話を登録', new_chat_path, :class => "btn btn-success" %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>反応語句</th>
      <th>返答文</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= chat.regword %></td>
        <td><%= simple_format(chat.word) %></td>
        <td><%= link_to '詳細', chat, :class => "btn btn-primary btn-sm" %></td>
        <td><%= link_to '編集', edit_chat_path(chat), :class => "btn btn-success btn-sm" %></td>
        <td><%= link_to '削除', chat, :class => "btn btn-danger btn-sm" ,method: :delete, data: { confirm: '本当にこの会話を削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

