<p>
  <strong>反応語句:</strong>
  <%= @chat.regword %>
</p>

<p>
  <strong>返答文:</strong>
  <%= @chat.word %>
</p>

<%= link_to '編集', edit_chat_path(@chat), :class => "btn btn-success" %> 
<%= link_to '一覧に戻る', chats_path, :class => "btn btn-default" %>
