<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>開催期間</label>
    <div class="form-inline">
      <div class ='input-group date datepicker'>
        <%= f.text_field :start_time, :class => 'form-control' %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
      <span>〜</span>
      <div class ='input-group date datepicker'>
        <%= f.text_field :end_time, :class => 'form-control' %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>
  </div>
  <div class="field">
    <label>変更後の開催期間</label>
    <div class="form-inline">
      <div class ='input-group date datepicker'>
        <%= f.text_field :edited_start_time, :class => 'form-control' %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
      <span>〜</span>
      <div class ='input-group date datepicker'>
        <%= f.text_field :edited_end_time, :class => 'form-control' %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :title, 'タイトル' %><br>
    <%= f.text_field :title, :class => 'form-cntrol'%>
  </div>
  <div class="field">
    <%= f.label :location_id, '開催場所' %><br>
    <%= f.collection_select :location_id, Location.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :introduction, '説明文' %><br>
    <%= f.text_area :introduction %>
  </div>
  <div class="field">
    <%= f.label :tweet_interval, 'ツイート間隔(分)' %><br>
    <%= f.number_field :tweet_interval %>
  </div>
  <div class="field">
    <%= f.label :keyword, '反応語句(改行区切り)' %><br>
    <%= f.text_area :keyword %>
  </div>
  <div class="actions">
    <%= f.submit "更新・登録", :class => "btn btn-default"%>
  </div>
<% end %>
