<p id="notice"><%= notice %></p>

<h1>企画一覧</h1>

<%= link_to "トップ", root_path, :class => "btn btn-success pull-right" %>
<%= link_to "場所登録", locations_path, :class => "btn btn-success pull-right" %>

<%= link_to '新しい企画を作成', new_project_path, :class => "btn btn-success" %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>開催期間</th>
      <th>変更後の開催期間</th>
      <th>タイトル</th>
      <th>開催場所</th>
      <th>説明文</th>
      <th>ツイート間隔</th>
      <th>反応語句</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.start_time.to_s(:view) %><br>~<br><%= project.end_time.to_s(:view) %></td>
        <td>
          <% if project.edited_start_time.present? %>
            <%= project.edited_start_time.to_s(:view) %><br>~<br><%= project.edited_end_time.to_s(:view) %>
          <% end %>
        </td>
        <td><%= project.title %></td>
        <td><%= project.location.name %></td>
        <td><%= simple_format(project.introduction) %></td>
        <td><%= project.tweet_interval %></td>
        <td><%= simple_format(project.keyword) %></td>
        <td><%= link_to '詳細', project, :class => "btn btn-primary btn-sm" %></td>
        <td><%= link_to '編集', edit_project_path(project), :class => "btn btn-success btn-sm" %></td>
        <td><%= link_to '削除', project, :class => "btn btn-danger btn-sm", method: :delete, data: { confirm: '本当にこの企画を削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

