<p>
  <strong>開催期間:</strong>
  <%= @project.start_time.to_s(:view) %>~<%= @project.end_time.to_s(:view) %>
</p>

<% if @project.edited_start_time.present? %>
<p>
  <strong>変更後の開催期間:</strong>
  <%= @project.edited_start_time.to_s(:view) %>~<%= @project.edited_end_time.to_s(:view) %>
</p>
<% end %>

<p>
  <strong>タイトル:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>開催場所:</strong>
  <%= @project.location.name %>
</p>

<p>
  <strong>説明文:</strong><br>
  <%= simple_format(@project.introduction) %>
</p>

<p>
  <strong>ツイート間隔:</strong>
  <%= @project.tweet_interval %>
</p>

<p>
  <strong>反応語句:</strong><br>
  <%= simple_format(@project.keyword) %>
</p>

<%= link_to '編集', edit_project_path(@project), :class => "btn btn-success" %> 
<%= link_to '一覧に戻る', projects_path, :class => "btn btn-default" %>
