<%= form_for(@good) do |f| %>
  <% if @good.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@good.errors.count, "error") %> prohibited this good from being saved:</h2>

      <ul>
      <% @good.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, '出品名' %><br>
    <%= f.text_field :name %>
  </div>
  <div class ="field">
    <%= f.label :good_anothers, '出品物別名' %><br>
    <%= f.fields_for :good_anothers do |builder| %>
      <%= render "good_another_fields", f: builder %>
    <% end %>
    <%= link_to_add_fields "追加", f, :good_anothers %>
  </div>
  <div class="actions">
    <%= f.submit "更新・登録", :class => "btn btn-default" %>
  </div>
<% end %>
