<p id="notice"><%= notice %></p>

<h1>出品物一覧</h1>

<%= link_to "トップ", root_path, :class => "btn btn-success pull-right" %>
<%= link_to "模擬店登録", shops_path, :class => "btn btn-success pull-right" %>

<%= link_to '新しい出品物を登録', new_good_path, :class => "btn btn-success" %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>出品名</th>
      <th>出品物別名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goods.each do |good| %>
      <tr>
        <td><%= good.name %></td>
        <td>
          <% good.good_anothers.each do |another| %>
            <%= another.name %><br>
          <% end %>
        </td>
        <td><%= link_to '詳細', good, :class => "btn btn-primary btn-sm" %></td>
        <td><%= link_to '編集', edit_good_path(good), :class => "btn btn-success btn-sm" %></td>
        <td><%= link_to '削除', good, :class => "btn btn-danger btn-sm",method: :delete, data: { confirm: '本当にこの出品物を削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

