<p>
  <strong>出品名:</strong>
  <%= @good.name %><br>
</p>

<p>
  <strong>出品物別名:</strong><br>
  <% @good.good_anothers.each do |another| %>
    <%= another.name %><br>
  <% end %>
</p>

<%= link_to '編集', edit_good_path(@good), :class => "btn btn-success" %>
<%= link_to '一覧に戻る', goods_path, :class => "btn btn-default" %>
