<%= form_for(@specific) do |f| %>
  <% if @specific.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@specific.errors.count, "error") %> prohibited this specific from being saved:</h2>

      <ul>
      <% @specific.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reaction_word, '反応語句' %><br>
    <%= f.text_field :reaction_word %>
  </div>
  <div class="field">
    <%= f.label :return_str, '返答文' %><br>
    <%= f.text_area :return_str %>
  </div>
  <div class="actions">
    <%= f.submit "更新・登録", :class => "btn btn-default" %>
  </div>
<% end %>
