<p id="notice"><%= notice %></p>

<h1>特殊文一覧</h1>

<%= link_to "トップ", root_path, :class => "btn btn-success pull-right" %>

<%= link_to '新しい特殊文を登録', new_specific_path, :class => "btn btn-success" %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>反応語句</th>
      <th>返答文</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @specifics.each do |specific| %>
      <tr>
        <td><%= specific.reaction_word %></td>
        <td><%= simple_format(specific.return_str) %></td>
        <td><%= link_to '詳細', specific, :class => "btn btn-primary btn-sm" %></td>
        <td><%= link_to '編集', edit_specific_path(specific), :class => "btn btn-success btn-sm" %></td>
        <td><%= link_to '削除', specific, :class => "btn btn-danger btn-sm",method: :delete, data: { confirm: '本当にこの特殊文を削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

