<p>
  <strong>反応語句:</strong>
  <%= @specific.reaction_word %>
</p>

<p>
  <strong>返答文:</strong>
  <%= @specific.return_str %>
</p>

<%= link_to '編集', edit_specific_path(@specific), :class => "btn btn-success" %> 
<%= link_to '一覧に戻る', specifics_path, :class => "btn btn-default" %>
