<p id="notice"><%= notice %></p>

<h1>場所一覧</h1>

<%= link_to "トップ", root_path, :class => "btn btn-success pull-right" %>
<%= link_to "企画登録", projects_path, :class => "btn btn-success pull-right" %>
<%= link_to "サ展登録", clubs_path, :class => "btn btn-success pull-right" %>

<%= link_to '新しい場所を登録する', new_location_path, :class => "btn btn-success" %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>場所名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= link_to '詳細', location, :class => "btn btn-primary btn-sm" %></td>
        <td><%= link_to '編集', edit_location_path(location), :class => "btn-success btn-sm" %></td>
        <td><%= link_to '削除', location, :class => "btn btn-danger btn-sm", method: :delete, data: { confirm: '本当にこの場所を削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

