<p>
  <strong>場所名:</strong>
  <%= @location.name %>
</p>

<%= link_to '編集', edit_location_path(@location), :class => "btn btn-success" %> 
<%= link_to '一覧に戻る', locations_path, :class => "btn btn-default" %>
