<%= form_for(@bus_stop) do |f| %>
  <% if @bus_stop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bus_stop.errors.count, "error") %> prohibited this bus_stop from being saved:</h2>

      <ul>
      <% @bus_stop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'バス停名' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bus_timetables, '時刻表' %><br>
    <%= f.fields_for :bus_timetables do |builder| %>
      <%= render "bus_timetable_fields", f: builder %>
    <% end %>
    <%= link_to_add_fields "追加", f, :bus_timetables %>
  </div>
  <div class="actions">
    <%= f.submit "更新・登録", :class => "btn btn-default" %>
  </div>
<% end %>
