<p id="notice"><%= notice %></p>

<h1>スクールバス時刻表一覧</h1>

<%= link_to "トップ", root_path, :class => "btn btn-success pull-right" %>

<%= link_to '新しいバス停を登録', new_bus_stop_path, :class => "btn btn-success" %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>バス停名</th>
      <th>時刻表</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bus_stops.each do |bus_stop| %>
      <tr>
        <td><%= bus_stop.name %></td>
        <td>
          <% bus_stop.bus_timetables.each do |time| %>
            <%= time.depart_time.to_s(:bus_time) %><br>
          <% end %>
        </td>
        <td><%= link_to '詳細', bus_stop, :class => "btn btn-primary btn-sm" %></td>
        <td><%= link_to '編集', edit_bus_stop_path(bus_stop), :class => "btn btn-success btn-sm" %></td>
        <td><%= link_to '削除', bus_stop, :class => "btn btn-danger btn-sm", method: :delete, data: { confirm: '本当にこのバス停を削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

