<p>
  <strong>バス停名:</strong>
  <%= @bus_stop.name %>
</p>

<p>
  <strong>時刻表:</strong><br>
  <% @bus_stop.bus_timetables.each do |time| %>
    <%= time.depart_time.to_s(:bus_time) %><br>
  <% end %>
</p>

<%= link_to '編集', edit_bus_stop_path(@bus_stop), :class => "btn btn-success" %>
<%= link_to '一覧に戻る', bus_stops_path, :class => "btn btn-default" %>
